
.container-scroll{
    min-height: 650px;
    display: block;
    // overflow: scroll;
    // overflow-y: hidden;
    // overflow-x: hidden;
    // background-color: lighten($color: #000000, $amount: 0);
}
// ::-webkit-scrollbar{
//     width: 17px;
// }

// ::-webkit-scrollbar-track{
//     border: 2px solid rgb(230, 230, 230);
//     box-shadow: inset 0 0 2.5px 2px rgba(232, 255, 208, 0.424);
// }

// ::-webkit-scrollbar-thumb{
//     background: linear-gradient(46deg, #309726,rgb(126, 255, 87));
//     border-radius: 5px;
// }

.container-cards{
    display: flex;
    max-width: 100%;
    width: 100%;
}

.services-card{
    display: block;
    max-width: 100%;
    width: 400px;
    // border: 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 6px 15px rgba(0, 0, 0, 0.424);
    
    &:hover{
        transition: 0.5s;
        transform: scale(1.05);
    }
}

.container-card-image{
    display: block;
    min-height: 380px;
}

.image-card{
    border-radius: 10px 10px 0px 0px;
    width: 410px;
    display: block;
}

.container-bottom-card{
    display: block;
    min-height: 100px;
    max-width:100%;
    // background-color: rgb(255, 196, 0);
    background-color: rgb(48, 151, 38);
    color: white;
    // background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 247, 204));
    border-radius: 0px 0px 9px 9px;
    padding: 10px;

}