.container-comentary{
    display: flex;
    max-width: 100%;
    width: 100%;
}

.container-scroll-1{
    min-height: 550px;
    max-width: 100%;
    width: 100%;
    display: block;
}

.card-comemt{
    display: block;
    background-color: rgba(241, 241, 241, 0.719);
    max-width: 100%;
    box-shadow: 7px 6px 15px rgba(0, 0, 0, 0.239);
    width: 30%;
    min-height: 300px;
    
    @media screen and (max-width: 700px){
        width: 100%;
    }
}
.user-icon{
    position: relative;
    margin-top:-80px;
    max-width: 20%;
}

.container-stars{
    display: flex;
    max-width: 100%;
}

.size-star-icon{
    display: block;
    width: 30px;
}

.container-icons-subtitle{
    display: flex;
}

.size-icon-3{
    display: block;
    width: 120px;
    
    @media screen and (max-width:700px) {
        width: 60px;
    }
}

.subtitle-3{
    font-size: 25px;

    @media screen and (max-width:700px) {
        font-size: 15px;
    }
}

.in-block{
    display: inline-block;
}

.container-80{
    display: block;
    max-width: 80%;
    width: 80%;
}

.container-60{
    display: block;
    max-width: 60%;
    width: 100%;
}


.container-70{
    display: block;
    max-width: 70%;
    width: 100%;
}

.locator{
    background: red;
    height: 10px;
    width: 100%;
    display: block;
}