// .bg{
//     background-image: url('');
// }

.personal-img-1{
    display: block;
    max-width: 100%;
    width: 500px;
    
    @media screen and (max-width: 700px) {
        width: 300px;
    }
}

.personal-img-2{
    display: block;
    max-width: 100%;
    width: 900px;
    
    @media screen and (max-width: 700px) {
        width: 300px;
    }
}

.container-info-section{
    display: flex;
    // padding: 50px;
}

.separator-1, .separator-1-white, .separator-1-green{
    display: block;
    max-width: 100%;
    width: 10%;
    border-radius: 100px;
}
.separator-1-white{
    border-bottom: 5px solid white;
}
.separator-1-green{
    border-bottom: 5px solid #05ad05;
}

.separator-2{
    display: block;
    max-width: 100%;
    width: 40%;
    border-bottom: 5px solid rgb(5, 173, 5);
    border-radius: 100px;

    @media screen and (max-width: 700px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.container-informations{
    display: flex;
    max-width: 100%;
    width: 100%;

    .container-info-rigth{
        max-width: 100%;
        width: 60%;

        @media screen and (max-width: 700px) {
            max-width: 100%;
            width: 100%;
        }

        .info-content{
            max-width: 100%;
            font-size: 20px;
        }
    }
    .container-info-left{
        max-width: 40%;

        @media screen and (max-width: 700px) {
            max-width: 100%;
            width: 70%;
        }
    }
}

.principal-icons{
    max-width: 100%;
    width: 55px;
    
}