// .bg{
//     background-image: url('');
// }

.personal-img-1{
    display: block;
    max-width: 100%;
    width: 1300px;
    
    @media screen and (max-width: 700px) {
        width: 300px;
    }
}

.container-info-section{
    display: flex;
    padding: 50px;
}