
.picture-pedro{
    // background-image: url('./src/images/pedro.jpeg');
    background-repeat: no-repeat;
    max-width: 95%;
    background-size: cover;
    min-height: 80vh !important;
    
    @media screen and (max-width:700px){
        max-width: 100%;
        min-height: 65vh !important;
    }
    
}

