@import './cpmStyles/cpmHome.scss';
@import './cpmStyles/cpmAbout.scss';
@import './cpmStyles/cpmInfoSection.scss';
@import './cpmStyles/cpmComemts.scss';
@import './cpmStyles/cpmCards.scss';
@import './cpmStyles/cpmCertificate.scss';

@import './cpmStyles/cpmContact.scss';
@import './cpmStyles/cpmFoot.scss';


.title-1{
    margin-top: 150px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.title-2{
    margin-top: 100px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.title-3{
    margin-top: 10px;
    font-size: 35px;
    display: block;
    
    @media screen and (max-width:700px) {
        font-size: 25px;
        max-width: 90%;
    }
}


.content-1{
    border: 1px solid black;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.content-2{
    padding: 10px;
    font-size: 25px;
    display: block;
    text-align: justify;
    
    @media screen and (max-width:700px) {
    font-size: 20px;
    max-width: 90%;
    }
}

.content-3{
    padding: 10px;
    font-size: 18px;
    display: block;
    text-align: justify;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.content-4{
    padding: 10px;
    font-size: 26px;
    display: block;
    text-align: justify;
    
    @media screen and (max-width:700px) {
        max-width: 90%;
        font-size: 21px;
    }
}

.content-5{
    padding: 10px;
    font-size: 24px;
    display: block;
    text-align: justify;
    
    @media screen and (max-width:700px) {
        max-width: 90%;
        font-size: 17px;
    }
}

.button-cv{
    display: flex;
}

.b-dowloadCV,.b-dowloadCV-s{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    padding: 13px;
    border: none;
    color: white;
    cursor: pointer;
}
.b-dowloadCV{
    background-color: rgb(44, 153, 44);
    border-radius: 7px 0px 0px 7px;

    &:focus {outline:0;}
}

.b-dowloadCV-s{
    background-color: green;
    border-radius: 0px 7px 7px 0px;
    border-left: 0.5px solid white;

    &:focus {outline:0;}
}


.fabebook-icon{
    color: #3b5998;
    display: block;
    width: 50px;
}

.instagram-icon{
    color: #3b5998;
    display: block;
    width: 50px;
}
.icon-size-1{
    width: 10px;
}

.icon-size-2{
    display: block;
    width: 20px;
}

.icon-size-3{
    display: block;
    width: 30px;
}

.icon-size-4{
    display: block;
    width: 40px;
}


.icon-size-5{
    display: block;
    width: 50px;
}

.icon-size-6{
    display: block;
    width: 25px;
}

.separete{
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
}
