@import './cpmStyles/cpmHome.scss';
@import './cpmStyles/cpmAbout.scss';
@import './cpmStyles/cpmInfoSection.scss';
@import './cpmStyles/cpmComemts.scss';
@import './cpmStyles/cpmCards.scss';

@import './cpmStyles/cpmContact.scss';
@import './cpmStyles/cpmFoot.scss';


.title-1{
    margin-top: 150px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.title-2{
    margin-top: 100px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.title-3{
    margin-top: 10px;
    font-size: 27px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}


.content-1{
    border: 1px solid black;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
    display: block;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.content-2{
    padding: 10px;
    font-size: 25px;
    display: block;
    text-align: justify;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.content-3{
    padding: 10px;
    font-size: 18px;
    display: block;
    text-align: justify;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.content-4{
    padding: 10px;
    font-size: 35px;
    display: block;
    text-align: justify;

    @media screen and (max-width:700px) {
    max-width: 90%;
    }
}

.button-cv{
    display: flex;
}

.b-dowloadCV,.b-dowloadCV-s{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    padding: 13px;
    border: none;
    color: white;
    cursor: pointer;
}
.b-dowloadCV{
    background-color: rgb(44, 153, 44);
    border-radius: 7px 0px 0px 7px;
}

.b-dowloadCV-s{
    background-color: green;
    border-radius: 0px 7px 7px 0px;
    border-left: 0.5px solid white;
}

.size-certificate-icon{
    display: block;
    width: 200px;
}

.container-certificate{
    display: flex;
    max-width: 60%;
}